@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300&subset=cyrillic-ext,latin-ext);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*==================
   Helpers
====================*/
/* line 17, ../sass/screen.scss */
.fl {
  float: left;
}

/* line 20, ../sass/screen.scss */
.fr {
  float: right;
}

/* line 23, ../sass/screen.scss */
.cf:before {
  content: ".";
  display: block;
  height: 0;
  width: 0;
  clear: both;
}

/* line 30, ../sass/screen.scss */
.tac {
  text-align: center;
}

/* line 33, ../sass/screen.scss */
.ac {
  margin: 0 auto;
}

/*==================
    animation
==================*/
/* line 39, ../sass/screen.scss */
#works {
  left: 0px;
  position: relative;
}

/* line 44, ../sass/screen.scss */
#presentation {
  left: 0px;
  position: relative;
}

/* line 48, ../sass/screen.scss */
#contacts {
  left: 0px;
  position: relative;
}
/* line 51, ../sass/screen.scss */
#contacts:before {
  content: "";
  display: block;
  width: 100%;
  height: 82px;
  background: url(../layout/contacts_bg.png) no-repeat center center;
  position: relative;
  margin-bottom: 40px;
}

/* line 61, ../sass/screen.scss */
.presentation {
  background-color: #7394c2;
}
/* line 63, ../sass/screen.scss */
.presentation:after {
  content: "";
  display: block;
  width: 100%;
  height: 9px;
  background: url(../layout/wave-pattern.png) repeat center center;
  position: absolute;
  bottom: -7px;
  z-index: 10;
}

/* line 74, ../sass/screen.scss */
.preface {
  background: url(../layout/grey_gradient_bg.jpg) repeat center top;
  padding: 0 !important;
}
/* line 77, ../sass/screen.scss */
.preface .l-row {
  height: 450px;
  background: url(../layout/mountain.png) no-repeat center bottom;
  background-position: -20px 275px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 82, ../sass/screen.scss */
.preface .l-row:hover {
  background-position: -20px 250px;
}

/*==================
   Styles
====================*/
/* line 93, ../sass/screen.scss */
body {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background: url(../layout/patterns.png) repeat;
}

/* line 101, ../sass/screen.scss */
.l-wrapper {
  width: 100%;
  padding-top: 80px;
}

/* line 106, ../sass/screen.scss */
.b-footer {
  line-height: 80px;
  vertical-align: middle;
  background: url(../layout/patterns3.png) repeat;
  position: relative;
}
/* line 111, ../sass/screen.scss */
.b-footer:before {
  content: "";
  background: url(../layout/patterns3-arrow.png) repeat;
  height: 5px;
  width: 100%;
  display: block;
  position: absolute;
  top: -5px;
}

/* line 122, ../sass/screen.scss */
.l-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 1000;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

/* line 132, ../sass/screen.scss */
.l-row {
  width: 960px;
  margin: 0 auto;
}

/* line 136, ../sass/screen.scss */
.l-section {
  min-height: 400px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 50px;
}

/* line 143, ../sass/screen.scss */
.b-section__header {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
}

/* line 149, ../sass/screen.scss */
.m-vpos {
  top: 60px;
  position: relative;
}

/* line 154, ../sass/screen.scss */
.b-logo {
  width: 120px;
  height: 80px;
  display: inline-block;
  height: 80px;
}

/* line 161, ../sass/screen.scss */
.b-logo-big {
  background: url(../layout/logo_white-big.png) no-repeat;
  display: inline-block;
  width: 236px;
  height: 114px;
  position: relative;
  top: 4px;
  vertical-align: middle;
  text-indent: -9999px;
}

/* line 172, ../sass/screen.scss */
.b-figure {
  width: 225px;
  height: 150px;
  background: #efefef;
  display: block;
}

/* line 182, ../sass/screen.scss */
.works {
  background-image: url(../layout/work_bg.png);
  background-repeat: repeat-x;
  background-color: #7394c2;
}

/* line 187, ../sass/screen.scss */
.contact {
  background: #c2cad6;
}

/* line 195, ../sass/screen.scss */
.b-menu__item a {
  height: 80px;
  line-height: 80px;
  text-align: middle;
  display: inline-block;
  padding: 0 1em;
  font-size: 16px;
  text-decoration: none;
  color: #222222;
}
/* line 204, ../sass/screen.scss */
.b-menu__item a:hover {
  background-color: #7394C2;
  color: #fff;
}

/* line 214, ../sass/screen.scss */
.b-list.m-list-h .b-list__item {
  display: inline-block;
  margin-left: 4px;
  margin-bottom: 2px;
  padding: 4px;
  color: #222;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
/* line 224, ../sass/screen.scss */
.b-list.m-list-h .b-list__item:first-child, .b-list.m-list-h .b-list__item:nth-child(4n+1), .b-list.m-list-h .b-list__item .m-fifth {
  margin-left: 0;
}

/* line 231, ../sass/screen.scss */
.b-movie {
  width: 640px;
  height: 360px;
  padding: 4px;
  background: #85a8db url(../layout/youtube.png) no-repeat center center;
  cursor: pointer;
}
/* line 237, ../sass/screen.scss */
.b-movie iframe {
  display: block;
}

/*==============
     form 
 ==============*/
/* line 245, ../sass/screen.scss */
.b-form {
  width: 480px;
}
/* line 247, ../sass/screen.scss */
.b-form * {
  display: block;
}

/* line 251, ../sass/screen.scss */
.b-input, textarea {
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
  border: none;
}

/* line 258, ../sass/screen.scss */
.b-btn {
  border: none;
  background: #56bf4c;
  color: #fff;
  padding: 0.5em 1em;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 1em;
}
/* line 266, ../sass/screen.scss */
.b-btn:hover {
  background: #429f39;
}
